<div class="container-fluid" style="background-color:#6b0848;" th:fragment="footer">
		<div class="row" id="foot">
			<div class="container footer">
				<div class="col-lg-6 article-footer">
					<div id="article">ARTICLES MANAGEMENT SYSTEM</div>
					<p>Version 0.0</p>

				</div>
				<div class="col-lg-5 about-me">
					<p class="me">About Me</p>
					<p><b>&#169; 2018 Chea Rothmonita</b>, All Rights Reserved. Spring Mini Project</p>
				</div>
			</div>
		</div>
	</div>