<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default_layout">
<head>
<meta charset="UTF-8"/>
<title>View</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/article-style.css" />
<link rel="stylesheet" href="/css/view-style.css" />
</head>
<body>
  	<div th:replace="fragment/header::header"></div>
	<div class="container-fluid " th:object="${article}">
		<div class="text-center pt-4"><h1>Article Detail</h1></div>
		<div class="container menu-container bg-white">
			<div class="col-lg-6 container1" >
				<p class="text-primary">ID : <span th:text="*{id}"></span></p>
				<p class="text-primary">Title : <span th:text="*{title}"></span></p>
				<p class="text-primary">Description : <span th:text="*{description}"></span></p>
				<p class="text-primary">Author : <span th:text="*{author}"></span></p>
				<p class="text-primary">Created date : <span th:text="*{createdDate}"></span></p>
				<!-- <button><a href="article.html">Back to Article</a></button> -->
			</div>
			<div class="col-lg-5 text-primary img" >
				<img th:src="*{thumbnail}" width="100%">
 			</div>
		</div>
	</div>
	<div th:replace="fragment/footer::footer"></div>
</body>
</html>