@charset "UTF-8";
h1{
	color: #d38cad;
	font-size: 40px;
}
a:hover{
	text-decoration: none;
}
table, td,th{
	border:1px solid gray;
	border-collapse:collapse;
}
td,th{
	padding:10px;
	text-align:center;
	font-size: 16px;
}
table,tr{
	color:#c9ffc7;
}
th{
	background-color: #FCD6E8;
	color:white;
	/* padding:15px; */
}
.odd{
	background-color: lavender;
}
.even{
	background-color: pink;
}
#add-new{
	font-size: 30px;
	color:white;
	text-decoration: none;
}
table tr td button a:hover {
	text-decoration:none;
	cursor: pointer;
}
table tr td button a{
	 text-decoration: none;
	 color:white;
	 font-size: 12px;
}
#fix{
	position: fixed;
}
.menu-container{
	background-color:#FECDC2;
	width:100%;
	color:white;
	display: flex;
	justify-content: space-between;
	
}
ul{
	list-style-type: none;
	padding:0px;
	margin:0px;
}
ul li{
	float:right;
	padding: 0px;
}
#menu{
	/* background-color: pink; */
}
ul li a{
	display: block;
	padding:24px;
	padding-bottom:25px;
	padding-left:30px;
	padding-right:30px;
	color:white;
	text-align: center;
	font-size: 18px;
}
ul li:last-child{
	padding-right: 0;
}
ul li a:hover{
	text-decoration: none;
	background-color: #6a65d8;
	color:lavender;
	cursor: pointer;
}
#article{
	padding:20px;
	font-size: 22px;
	font-family: sans-serif;
	padding-left: 0px;
	margin-left: 0px;
}
.mt-10{
	margin-top:20px;
}
#article:hover{
	cursor: pointer;
	color: #91ceff;
}
.text-center{
	padding: 20px;
}

.footer{
	background-color: darksalmon;
	width:100%;
	color:white;
	display: flex;
	justify-content: space-between;
	
}
.me{
	padding:20px;
	padding-bottom:10px;
	font-size: 22px;
	font-family: sans-serif;
	padding-left: 0px;
	margin-left: 0px;
}